.container-container{
    /* width: 1260px; */
    /* margin: 0 auto; */
    /* height: 300px; */
    /* background: black; */
    margin: 100px 20px;
}

.container-box{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50vh);
    grid-gap: 10px;
    display: grid;
    
}

.container-box > div{
    border: 1px solid black;
}

.box-1{
    /* width: 310px; */
    height: 585px;
    grid-row: 1/3;
}
.box-2{
    grid-row: 1/3;
    /* width: 631px; */
    height: 585px;
    /* overflow: hidden; */
   
}

.box-3{
    /* width: 311px; */
    /* height: 289px;   */
}

.box-4{
    /* width: 631px; */
    /* height: 289px; */
    grid-column: 4/6;
}
.box-5{
    /* width: 311px; */
    /* height: 289px; */
}
.box-6{
    /* width: 311px; */
    /* height: 289px; */
}
.box-7{
    /* width: 311px; */
    /* height: 289px; */
}

.box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}